:root {
    --primary-color: #ff497c;
    --first-color: #141414;
    --second-color: #fff;
    --third-color: #A0CE4E;
    --fourth-color: #00BEA3;
    --fifth-color: #F1894C;
    --sixth-color: #1F2732;

    --primary-font: Poppins;
    --second-font: Montserrat;
}


/* global css starts  */


/* .container {} */

body {
    margin: 0;
    padding: 0;
}

.row {
    width: 1280px;
    margin: auto;
    padding: 6% 0;
}

/* global css ends */
.head {
    width: 1536px;
    background-color: green;
    margin: auto;
    padding: 15px 0;
}

.d-flex {
    display: flex;
}



p {
    font-family: var(--second-font);
    line-height: 2;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--first-color);
}

h3 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 27px;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    color: var(--first-color);
}

.contact {
    background-color: #f4f4f5;
}





.white-bg {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(./images/bg-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.column {
    flex: 1;
}

.icon i {
    font-size: 85px;
    background-color: #f4f4f5;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.icon {
    text-align: center;
}



.clip {
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.blue-bg {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/bg-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.clip1 {
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0 100%);
}

.clip2 {
    clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
}

.clip3 {
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%);
}


/* footer start here  */
footer {
    margin: 0px;
    z-index: 9;
    position: relative;
}

footer .background {
    padding: 75px 0 !important;

}

footer .logo {
    position: absolute;
    width: 100%;
    top: -18%;
}

/* footer ends here  */

.feet {
    background-color: var(--primary-color);
}

.foot {
    width: 1536px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
}

.foot-icon {
    text-align: center;
    background-color: var(--second-color);
    border-radius: 100%;
    padding: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;

}


.foot-logo {
    margin: auto !important;
    text-align: center;
    margin-top: -45px !important;
    z-index: 999;
    /* position: ; */
}

.foot-logo img {
    width: 35px;
    background-color: var(--sixth-color);
    padding: 17px;
    border-radius: 100%;
    /* z-index: 100 !important; */
}


.foot-logo i {
    font-size: 20px;
    margin: 0 5px;
}

a {
    color: var(--second-color);
    text-decoration: none;
}


.button1 {
    font-family: var(--second-font);
    /* line-height: 2; */
    font-size: 18px;
    font-weight: 700;
    margin: 3% 0;
    padding: 30px 80px;
    border: 3px solid var(--primary-color);
    border-radius: 100px;
    background-color: var(--second-color);
}

.button1:hover {
    background-color: var(--primary-color);
    color: var(--second-color);
}

.button2 {
    font-family: var(--second-font);
    /* line-height: 2; */
    font-size: 18px;
    font-weight: 700;
    margin: 3% 0;
    padding: 30px 80px;
    color: var(--second-color);
    border: 3px solid var(--primary-color);
    border-radius: 100px;
    background-color: var(--primary-color);
}

.button2:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}


/* Slider start header */

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {

    transition: transform 0.5s ease-in-out;
    /* overflow: hidden; */
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 30%;
    max-width: 30%;
}

.slides img {
    width: 100%;
    height: auto;
}


/* Slider ends header */

* {
    gap: 5px;
}

.section {
    background-color: var(--second-color);
    padding: 20px;
}

.section img {
    width: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    padding: 5px;
}

.over {
    margin-top: -90px;
    z-index: 1;
    position: relative;
}

.place {
    /* background-color: var(--first-color); */
    width: 200px;
    padding: 5px;
    border-radius: 100%;
    border: 10px solid rgba(0, 0, 0, 0.5);
}

.book-cover {
    width: 32.3%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.bg {
    background-image: url(./images/bg-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-size: cover;
}